@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
}

button {
  cursor: pointer;
  padding: 5px 10px;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 70px;
  background: #fff;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav .logo {
  width: 80px;
  height: 60px;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
  cursor: pointer;
}

nav ul li {
  font-size: 16px;
  transition: all ease-in-out 0.6s;
}

nav ul li:hover {
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  width: fit-content;
  padding: 5px 10px;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-color: black;
  border-radius: 8px;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.home {
  display: flex;
  height: 120vh;
  justify-content: space-evenly;
  align-items: center;
}

.home-left {
  font-size: 28px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.home a {
  text-decoration: none;
  color: black;
}

.home h1 {
  font-size: 3.5rem;
}

.explore-btn {
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  transition: ease-in-out all 0.4s;
}

.explore-btn i {
  transition: ease-in-out all 0s;
  display: none;
}

.explore-btn:hover {
  background-color: black;
  color: #fff;
  width: fit-content;
  padding: 10px 25px;
  i {
    display: block;
  }
}

.title {
  font-size: 3rem;
  text-align: center;
}

/* collection section */

.collections {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-wrap: wrap;
  gap: 30px;
}

.collection {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c2f4f449;
  padding: 10px;
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.collection img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: relative;
}

.collection img::after {
  content: "";
  width: 100%;
  background: #893cbc;
  height: 30px;
  position: absolute;
}

.details button {
  background-color: black;
  color: #fff;
  border: none;
}
