@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle {
  position: relative;
  top: 0;
  width: 500px;
  height: 500px;
  border: 40px solid RED;
  background-color: aqua;
}

.login-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-radius: 8px;
  border: 2px solid #ccc;
}

.login-container img {
  height: 450px;
  width: 350px;
  border-radius: 8px;
  /* border: 2px solid #ccc;
  border-right: none; */
}

@keyframes move {
  0% {
    left: -200px;
    transform: scale(0.5);
  } /* Initial position and size */
  100% {
    left: calc(100% + 200px);
    transform: scale(1.5);
  } /* Final position and size */
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #ccc;
  height: 450px;
  width: 350px;
}

.login-form input {
  width: 250px;
  height: 40px;
  padding-left: 15px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-bottom-width: 3px;
  font-size: 14px;
  margin-top: 10px;
}

.login-form input:focus {
  border-color: red;
}

.forgot {
  display: flex;
  justify-self: right;
  align-self: right;
}

.login-btn {
  width: fit-content;
  padding: 5px 20px;
  background-color: aquamarine;
  border: none;
  outline: none;

  cursor: pointer;
  transition: all ease 0.2s;
}

.login-btn:hover {
}
